[submodule "lib/zdb"]
	path = lib/zdb
	url = ssh://hyrican@qoru.de:/home/hyrican/prog/zig/zdb
[submodule "lib/zig-spoon"]
	path = lib/zig-spoon
	url = https://git.sr.ht/~leon_plickat/zig-spoon
[submodule "db"]
	path = db
	url = ssh://hyrican@qoru.de:/home/hyrican/db
